@inherits LayoutComponentBase

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/bowlers" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Bowlers</NavLink>
            </div>
        </div>
        <div class="col">
            @Body
        </div>
    </div>

</div>
