@page "/admin"

@model BowlingLeague.Pages.Admin.IndexModel

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bowling League Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>

    <component type="typeof(BowlingLeague.Pages.Admin.Routed)" render-mode="Server">
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>