@page
@model BowlingLeague.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks! A bowler has been added!</h2>
    <a asp-controller="Home" class="btn btn-primary">Return Home</a>
</div>